<div class="flex flex-col w-full">
  <div class="flex flex-col gap-3">
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="client.nom"
      placeholder="Prénom du Client..."
    />

    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="client.prenom"
      placeholder="Nom du Client..."
    />

    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="client.email"
      placeholder="Email du Client..."
    />
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="client.telephone"
      placeholder="n° de téléphone du Client..."
    />

    <button
      class="bg-blue-600 text-white rounded shadow p-3"
      (click)="logClient(); addClient(client)"
    >
      Ajouter le Client
    </button>
  </div>
</div>
