<div class="flex flex-col w-full">
  <div class="flex flex-col gap-3">
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.model"
      placeholder="Modèle du Véhicule..."
    />

    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.clientVehicle"
      placeholder="Nom Client..."
    />

    <select
      class="mt-1 w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.technician"
    >
      <option value="" disabled>Sélectionner un technicien...</option>
      <option *ngFor="let technician of technicians" [value]="technician">
        {{ technician.name }} {{ technician.surname }}
      </option>
    </select>

    <textarea
      class="mt-1 p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm"
      rows="4"
      placeholder="Défaut(s) du Véhicule"
    ></textarea>
    <button
      class="bg-blue-600 text-white rounded shadow p-3"
      (click)="vehicleService.addVehicle(vehicle)"
    >
      Ajouter le véhicule
    </button>
  </div>
</div>
