<div class="flex flex-col w-full">
  <div class="flex flex-col gap-3">
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.brand"
      placeholder="Marque du Véhicule..."
    />
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.model"
      placeholder="Modèle du Véhicule..."
    />
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.plateNumber"
      placeholder="Immatriculation..."
    />
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.year"
      placeholder="Année du Véhicule..."
    />

    <select
      class="mt-1 w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.appointments"
    >
      <option value="" disabled>Sélectionner un rendez-vous...</option>
      <option *ngFor="let appointment of appointments" [value]="appointment">
        {{ appointment.name }} {{ appointment.date }}
      </option>
    </select>

    <select
      class="mt-1 w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="vehicle.clientVehicle"
    >
      <option value="" disabled>Sélectionner un client...</option>
      <option *ngFor="let client of clients" [value]="client">
        {{ client.name }} {{ client.surname }}
      </option>
    </select>

    <!--<textarea
      class="mt-1 p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm"
      rows="4"
      placeholder="Défaut(s) du Véhicule"
    ></textarea>-->
    <button
      class="bg-blue-600 text-white rounded shadow p-3"
      (click)="vehicleService.addVehicle(vehicle)"
    >
      Ajouter le véhicule
    </button>
  </div>
</div>
