<!-- Formulaire to create an appointment -->
<div class="flex flex-col w-full">
  <div class="flex flex-col gap-3">
    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="appointment.date"
      placeholder="Date du rendez-vous..."
    />

    <input
      class="mt-1 block border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="appointment.typeService"
      placeholder="Type de Service..."
    />

    <select
      class="mt-1 w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="appointment.technician"
    >
      <option value="" disabled>Sélectionner un technicien...</option>
      <option *ngFor="let technicien of techniciens" [value]="technicien">
        {{ technicien.nom }} {{ technicien.prenom }}
      </option>
    </select>

    <select
      class="mt-1 w-full border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm py-3 px-4"
      [(ngModel)]="appointment.vehicule"
    >
      <option value="" disabled>Sélectionner un véhicule...</option>
      <option *ngFor="let vehicule of vehicules" [value]="vehicule">
        {{ vehicule.modele }} {{ vehicule.marque }}
      </option>
    </select>

    <textarea
      class="mt-1 p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 focus:border-indigo-500 transition duration-150 ease-in-out sm:text-sm"
      rows="4"
      placeholder="Défaut(s) du Véhicule"
    ></textarea>
    <button
      class="bg-blue-600 text-white rounded shadow p-3"
      (click)="logAppointment(); appointmentService.addAppointment(appointment)"
    >
      Ajouter Rendez-vous
    </button>
  </div>
</div>
