<app-client-modifier *ngIf="isEditing" [client]="client" (cancel)="switchToCard()"></app-client-modifier>

<div
  class="border px-4 py-2 flex items-center rounded-lg bg-gradient-to-r from-blue-900 via-blue-600 to-blue-400 text-white"
>
  <div class="h-12 w-12 rounded-full flex items-center justify-center bg-blue-200 text-blue-900">
    {{client.id}}
  </div>
  <div class="w-3/6">
    <div class="font-bold text-lg">{{ client.nom }} {{ client.prenom }}</div>
    <div class="text-sm text-cyan-200">{{ client.email }}</div>
  </div>

  <div class="w-1/6 text-sm text-cyan-200">{{ client.telephone }}</div>

  <div *ngIf="!isEditing" class="border px-4 py-2 flex items-center rounded-lg bg-gradient-to-r from-blue-900 via-blue-600 to-blue-400 text-white">
    <span (click)="switchToModifier()">🔧</span>
  </div>

  <button class="min-w-8 ml-auto bg-red-500 text-white font-bold text-xl rounded-full transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
    (click)="deleteClient()">
    -
  </button>
</div>
