<picture>
  <source
    type="image/webp"
    srcset="../images/voiture.webp 100w, ../images/voiture.webp?width=200 200w, ../images/voiture.webp?width=400 400w, ../images/voiture.webp?width=800 800w" />
  <img
    src="../images/voiture.png"
    srcset="../images/voiture.png?width=100 100w, ../images/voiture.png?width=200 200w, ../images/voiture.png?width=400 400w, ../images/voiture.png?width=800 800w"
    sizes="(max-width: 800px) 100vw, 50vw"
    style="width: 100%; aspect-ratio: 16/9"
    loading="lazy"
    decoding="async"
    alt="Image de voiture"
  />
</picture>
