<ng-container [ngSwitch]="column">
  <div
    *ngSwitchCase="0"
    class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
  >
    {{ vehicle.id }}
  </div>
  <div
    *ngSwitchCase="1"
    class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
  >
    {{ vehicle.marque }}
  </div>
  <div
    *ngSwitchCase="2"
    class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
  >
    {{ vehicle.modele }}
    <!--<span
      [ngClass]="
        vehicle.modele
          ? 'text-green-800 bg-green-100'
          : 'text-red-800 bg-red-100'
      "
      class="inline-flex px-2 text-xs font-semibold leading-5 rounded-full shadow-lg transition-all duration-500 ease-in-out"
    >
      {{ vehicle.status ? "En cours" : "À réparer" }}
    </span>-->
  </div>
  <div
    *ngSwitchCase="3"
    class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
  >
    {{ vehicle.immatriculation }}
  </div>

  <div
    *ngSwitchCase="4"
    class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
  >
    {{ vehicle.annee }}
  </div>

  <div class="flex items-center" *ngSwitchCase="5">
    <div class="flex-shrink-0 w-10 h-10">
      <img
        class="w-10 h-10 rounded-full"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
        alt="photo Client"
      />
    </div>
    <div class="ml-4">
      <div
        class="px-2 py-1 text-xs font-medium leading-4 tracking-wider text-left text-gray-500"
      >
        {{ vehicle.client }}
      </div>
      <div class="text-sm leading-5 text-gray-500">
        {{ vehicle.client }}
      </div>
    </div>
  </div>

  <div
    *ngSwitchCase="6"
    class="px-4 py-3 text-xs font-medium rounded-lg border border-indigo-900 leading-4 tracking-wider text-left text-gray-500"
    (click)="launchTrigger()"
  >
    Supprimer
  </div>
</ng-container>
