<div class="flex flex-col">
  <div class="flex justify-center items-center">
    <div
      class="font-medium text-2xl leading-4 tracking-wider text-left text-gray-500 uppercase pt-20"
    >
      Liste des véhicules
    </div>
  </div>
  <div class="flex flex-col mt-4 mx-2.5">
    <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div
        class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
      >
        <table class="min-w-full">
          <thead>
            <tr class="border-b border-gray-200 bg-gray-50">
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Numéro
              </th>
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Modèle
              </th>
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Status
              </th>
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Défaut
              </th>
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Technicien
              </th>

              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Client
              </th>
              <th
                class="px-4 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase"
              >
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="border-b border-gray-200 px-4 py-20"
              *ngFor="let vehicle of vehicles"
            >
              <ng-container *ngFor="let _ of [].constructor(5); let i = index">
                <td>
                  <app-vehicule
                    [vehicle]="vehicle"
                    [column]="i"
                    (trigger)="handleTrigger(vehicle.id)"
                  ></app-vehicule>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<div class="flex flex-col gap-3 min-w-64 mx-auto max-w-xl border m-3 p-3 rounded">
  <div class="italic pb-3">Véhicule</div>
  <div class="flex gap-3">
    <div *ngFor="let vehicle of vehicleService.getAllVehicle()"></div>
  </div>
</div>-->
