<div class="container mx-auto px-4 pt-20">
  <div class="flex flex-wrap gap-y-6 justify-center">
    <!--Client list-->
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12 px-4">
      <div class="max-w-2xl my-5">
        <h2 class="text-3xl font-bold tracking-tight text-blue-900 sm:text-4xl">
          Liste des clients
        </h2>
      </div>
      <div class="shadow-2xl rounded-lg overflow-hidden p-4 mb-6 bg-white">
        <div class="space-y-4">
          <app-client
            *ngFor="let client of clients"
            [client]="client"
            (delete)="handleDeletion(client.id)"
          ></app-client>
        </div>
      </div>
    </div>

    <!--Client form-->
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6 shadow-xl rounded-lg transition duration-300 ease-in-out hover:shadow-2xl"
      >
        <div class="flex-auto p-5 lg:p-10 animate-fade-in-down">
          <h4 class="text-2xl font-semibold text-gray-800">
            Créer un nouveau client
          </h4>
          <p class="leading-relaxed mt-1 mb-4 text-gray-600">
            Remplissez le formulaire ci-dessous pour ajouter un nouveau client.
          </p>
          <app-clientform
            [client]="client"
            (add)="handleAddition(client)"
          ></app-clientform>
        </div>
      </div>
    </div>
  </div>
</div>
