<div class="container mx-auto px-4 pt-20">
  <div class="flex flex-wrap justify-center">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6 shadow-xl rounded-lg transition duration-300 ease-in-out hover:shadow-2xl"
      >
        <div class="flex-auto p-5 lg:p-10 animate-fade-in-down">
          <h4 class="text-2xl font-semibold text-gray-800">
            Ajouter un véhicule
          </h4>
          <p class="leading-relaxed mt-1 mb-4 text-gray-600">
            Remplissez le formulaire ci-dessous pour ajouter un véhicule à la
            liste.
          </p>
        </div>
      </div>
    </div>

    <!-- stats -->
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6 p-3 shadow-xl rounded-lg transition duration-300 ease-in-out hover:shadow-2xl"
      >
        <div class="text-2xl font-semibold text-gray-800 p-5">Statistiques</div>
        <div class="flex">
          <div class="w-full p-1">
            <div
              class="flex flex-col min-w-10 break-words bg-white w-full h-full rounded-lg overflow-hidden transform transition duration-250 hover:scale-105"
            >
              <div class="flex-auto p-5">
                <div class="text-base font-bold text-gray-600">
                  Voitures réparées
                </div>
                <div class="mt-2 text-3xl font-semibold text-gray-900">
                  1692
                </div>
              </div>
            </div>
          </div>
          <div class="w-full p-1">
            <div
              class="flex flex-col min-w-0 break-words bg-white w-full h-full rounded-lg overflow-hidden transform transition duration-250 hover:scale-105"
            >
              <div class="flex-auto p-5">
                <div class="text-base font-bold text-gray-600">
                  Problème moteur
                </div>
                <div class="mt-2 text-3xl font-semibold text-gray-900">50</div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="w-full p-1">
            <div
              class="flex flex-col min-w-0 break-words bg-white w-full h-full rounded-lg overflow-hidden transform transition duration-250 hover:scale-105"
            >
              <div class="flex-auto p-5">
                <div class="text-base font-bold text-gray-600">
                  Peugeot réparées
                </div>
                <div class="mt-2 text-3xl font-semibold text-gray-900">8</div>
              </div>
            </div>
          </div>
          <div class="w-full p-1">
            <div
              class="flex flex-col min-w-0 break-words bg-white w-full h-full rounded-lg overflow-hidden transform transition duration-250 hover:scale-105"
            >
              <div class="flex-auto p-5">
                <div class="text-base font-bold text-gray-600">
                  Technicien Disponible
                </div>
                <div class="mt-2 text-3xl font-semibold text-gray-900">2</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
