<div class="flex justify-center items-center h-screen">
  <div class="max-w-lg mx-auto p-8 bg-white shadow-lg">
    <div class="flex justify-center">
      <img class="h-32 rounded-full" src="./assets/images/voiture.png" alt="Mechanic">
    </div>
    <div class="mt-4 text-center">
      <h1 class="text-xl font-bold">ABOUT US</h1>
      <h2 class="text-2xl font-bold text-red-600">Wheal Auto</h2>
      <p class="mt-4">
        🔧 Chez Wheal, votre voiture entre de bonnes mains ! 🔧
      <p class="mt-3">
        Profitez de notre expertise et de notre service exceptionnel pour maintenir votre véhicule au top !
      </p>
      <p class="mt-3">
        Révisions, réparations ou simples vérifications, nous sommes là pour vous. Prenez rendez-vous dès maintenant et roulez en toute confiance ! 🚗💨
      </p>
      <a routerLink="/rendez-vous-form" class="mt-8 inline-block bg-red-600 text-white py-2 px-4 rounded">Prenez Rendez-vous</a>
    </div>
  </div>
</div>
